/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/*---- BODY ----*/
body {
  background-color: rgb(240, 240, 240);
  font-family: "Roboto", sans-serif;
}

main, header, footer {
  max-width: 64rem;
  max-width: 1024px;
  padding-top: 1rem;
  margin: 0 auto;
  background-color: white;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

/*---- HEADER ----*/
header {
  background-image: url("../images/popcorn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  color: #fff;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

header h1, header h2 {padding-left: 2%;}
header h1 {font-size: 2.5rem;}
header h2 {font-size: 1.8rem;}

/*---- MAIN ----*/
/* main {
  padding-bottom: 2.5rem;
} */

main h1 {
  padding: 1rem 2%;
  color: #000;
  text-align: center;
}

main h2 {
  color: #008dce;
  font-weight: 900;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2%;
}

span {font-weight: 500; color: #008dce;}



/* Movie, Time, Ticket Selection */
.userInput {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2%;
}

/* SELECT MOVIE */
.movies {text-align: center;}


/* SELECT TIME */
.movieTime {text-align: center;}
.movieTime selection {display: block;}

.movieTime .buttonContainer {
  text-align: center;
  margin: 0 auto;
  padding: 2% 0;
}


/* ADD/DELETE TICKET */
.tickets {
  margin: 0 auto;
  text-align: center;
}

.tickets .ticketOptionBTN {
  display: block;
  width: 100%;
}

/* BUTTONS: Movie, Time, Ticket Selection */
.ticketOptionBTN button,
.buttonContainer button,
.movieOptions button {
  margin: 2% 0;
  width: 65%;
  padding: 0.5rem 2%;
  background-color: #000;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

#remove_ticketLast {background-color: rgb(150, 0, 0);}



/* DISPLAY USER SELECTION INFO/ Your Movie Ticket(s) */
.movieTicketSelection {
    border: 3px solid black;
    margin: 2% 0;
  }

.movieTicketInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2%;
}


.movieInfo {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
}
  
.movieImage {margin: auto auto;}
  #picture {
    margin: 0 auto;
    display: flex;
    border-radius: 3px;
    max-height: 250px;
  }

  .movieData h2, .movieData h3 {text-align: left; padding: 0;}
  .movieData h3 {font-size: 1rem;}
  .movieTicketSelection h2 {padding: 2% 2%;}
  
/* TIME/TICKET FEEDBACK */
.ticketData {grid-column: 3; text-align: center;}
#timeFeedback {color: #000; font-size: 1rem;}
#displayResults span {color: #000;}
#error {font-style: italic;}



/* SEAT SELECTION SECTION */
.movieSeats {
  grid-column: 1 / span 3;
  padding: 0;
}

.screen {
  grid-column: 1 / span 6;
  background-color: #000;
}

.screen h1 {
  color: #fff;
  text-align: center;
  padding: 2% 2%;
}

#seats {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid #000;
  text-align: center;
  padding: 2% 2%;
}

.movieSeats input {
  width: 1rem;
  margin: 0 auto;
  display: block;
  height: 50px;
}



/* USER RESULTS/CHECKOUT SECTION */
.userResults {
  grid-row: 2;
  padding: 2% 2%;
  margin: 0 auto;
  background-color: rgb(216, 216, 216);
}

.checkout {margin: 0 auto; text-align: center; width: 80%;}


.userContact, .cardInfo {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
    text-align: left;
}
  
.purchaseInfo h3 {
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.purchaseInfo input {
    margin: .5rem 0; 
    padding: 2% 2%; 
    color: #000; 
    display: block; 
    width: 65%; 
    background-color: rgb(245, 245, 245); 
    border-radius: 7px;
}
.purchaseInfo input::placeholder {
    padding: 2% 2%; 
    color:rgb(122, 122, 122);
}



.checkout button {
    margin: 1rem auto;
    width: 50%;
    padding: 0.5rem 2%;
    background-color: rgb(5, 160, 0);
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }



  /* TICKET CONFIRMATION RESULTS */

#results {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 35% auto;
    grid-column-gap: 4%;
    border: 2px solid #000;
    background-color: #fff;
  }

#results div {margin: auto; padding: 2% 2%;}
  
  

#checkoutResults {text-align: left;}

#checkoutTicket {margin: 0 auto;}
#checkoutTicket img {width: 100%;}


/*---- FOOTER ----*/
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.7rem 0;
}




@media only screen and (max-width: 769px) and (min-width: 501px) {

/* Movie, Time, Ticket Selection */
.userInput {
    padding: 2% 2%;
    grid-column-gap: 4%;
  }
  
  
  /* BUTTONS: Movie, Time, Ticket Selection */
  .ticketOptionBTN button,
  .buttonContainer button,
  .movieOptions button {
    width: 100%;
    padding: 0.5rem 2%;
  }
  
  
  /* DISPLAY USER SELECTION INFO/ Your Movie Ticket(s) */  
  .movieTicketInfo {display: block;}
  
  .movieInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2%;
    }
    
  .movieImage {margin: auto auto;}
    #picture {max-height: 200px;}
  

  
  /* USER RESULTS/CHECKOUT SECTION */
  .checkout {width: 95%;}
  
  .purchaseInfo input {width: 75%;}

  .checkout button {margin: 1.5rem auto; width: 60%;}
  
}



@media (max-width: 500px) {
    .userInput {
        text-align: left;
        display: block;
        padding: 2% 2%;
      }
    .movies, .movieTime, .tickets {margin: 2% 0;}

    .movieTime #time input[type=radio] {height: 20px; width: 20px;}
    .movieTime #time label {font-size: 1.3rem;}

    
      .ticketOptionBTN button,
      .buttonContainer button,
      .movieOptions button {width: 80%;}



/* DISPLAY USER SELECTION INFO/ Your Movie Ticket(s) */  
  .movieTicketInfo {display: block;}
  
  .movieInfo {display: block;}

  .movieInfo h2 {text-align: center;}
    
  .movieImage {margin: auto auto;}
  #picture {max-height: 200px;}
  

  
  /* USER RESULTS/CHECKOUT SECTION */
  .userResults {padding: 2% 2%;}
  .checkout {width: 100%; display: block;}
  
  .purchaseInfo input {display: block; width: 100%;}


  .userContact, .cardInfo {
    display: block;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.checkout button {margin: 1.5rem auto; width: 85%;}

  /* TICKET CONFIRMATION RESULTS */

  #results {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid #000;
    background-color: #fff;
  }

  #showText {grid-row: 1;}
  #showTicket {grid-row: 2;}
}